.carousel.carousel-slider{
  height: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  .slider-wrapper {
    height: 100%;
  } 

  .slider {
    height: 100%;
  }

  .control-arrow {
    opacity: 1;
    padding: 8px;
        
    &:before {
      border-width: 13px;
    }
  }
}

.likeButton {
  height: 30px;
  fill: white;
  stroke: black;
  transition: all 0.4s ease;
  margin-right: 10px;
  cursor: pointer;

  &--feed {
    fill: yellow;
    stroke: black;
  }

  &--active {
    fill: black;
  }

  &:hover {
    fill: black;
  }
}