.rangeslider__fill {
  background-color: yellow !important;
}

.rangeslider__handle:after {
    display: none !important;
}

.rangeslider__handle {
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
}
