@import 'reset';

*:focus {
    outline: 4px auto yellow;
}
#root {
    padding: 15px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #b0c0c9;
    margin: 0;
}