.about h3 {
  margin-top: 30px;
  text-align: center;
}
.about {
  margin: 20px;
}
.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 0 15px #666;
  border: 1px solid #888;
}
.about p {
  margin-left: 15%;
  margin-right: 15%;
}
.about a {
  color: #FFF105;
  text-shadow: 0 0 5px black;
}
