.buttonWrapper {
    text-align: center;
    margin: 20px
}

.detail-body {
    color: black;
    margin: 20px
}

.detail-body h4 {
    display: inline-block;
    margin: 10px
}

h4 {
    color: black
}

.carousel-item > img { 
    width: 100%; 
}