.buttonWrapper {
    text-align: center;
    margin: 20px
}

.detail-body {
    color: black;
    margin: 20px
}

.detail-body h4 {
    display: inline-block;
    margin: 10px
}

h4 {
    color: black
}

.carousel-item > img { 
    width: 100%; 
    height: 500px
}

.Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: grey;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: grey;
    color: white;
}

.Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
}

.title, .description {
    font-size: 55px;
    font-family: 'Roboto';
    font-weight: 700;
}