.home {
  border: 1px solid rgb(30,30,30);
  display: block;
  padding: 10px;
}

.home .h1 {
  color: rgb(253, 208, 157);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(5,5,5);
}

.home span {
  color: rgb(106, 118, 124);
  display: block;
  margin: 8px 0;
  position: relative;
}

.home pre {
  color: rgb(106, 118, 124);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  margin-top: -20px;
}


.directions {
  color: rgb(82, 175, 218);
  display: inline;
}

.articleLinks {
  color: white;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}
