.wizard__form {
	float: left;
	width: 50vw;
	padding: 70px;
}

.wizard__preview {
	float: left;
	width: 50vw;
}

.wizard__dots {
	position: absolute;
	top: 50%;
	left: 20px;
	right: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%;
}

.wizard__dots button {
	border:none;
	position: relative;
	display: block;
	padding: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: blue;

}
