/** NEXT TRANSITION **/

.next .slide-enter {
  transform: translateX(100%);
  opacity: 0;
}

.next .slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 500ms;
}

.next .slide-leave {
  transform: translateX(0%);
  opacity: 1;
}

.next .slide-leave-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}



/** BACK TRANSITION **/

.back .slide-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.back .slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 500ms;
}

.back .slide-leave {
  transform: translateX(0%);
  opacity: 1;
}

.back .slide-leave-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms;
}

/* NOT FOUND */

.notFound {
  background: #141414;
  border: 1px solid rgb(30,30,30);
  box-sizing: border-box;
  padding: 10px;
  color: red;
  font-size: 32px;
  text-shadow: 1px 1px 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
