.topbar {
  position: absolute;
  width: 100%;
  height: 200px;
  margin-left: 5px;
  z-index: 2;
}

.topbar .bannerImg {
  width: 100%;
}

.topbar .topnavbar {
  margin-left: 25%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 50%;
  background-color: white;
}
