#dropzone-images {
  position: relative;
  width: 250px !important;
  height: 100px !important;
  padding: 5px 20px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 5px !important;
}